<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Anil Star's Home Page</title>
</head>
<body>
    <h2>Anil Star's Home Page</h2>
    <hr>
    <p>
    Welcome to the Anil Star's Home Page
    </p>

    <p>
        User : <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s) : <span sec:authentication="principal.authorities"></span>
    </p>

    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for Managers)
    </p>

    <p>
        <a th:href="@{/system}">System Interface</a>
        (Only for Admins)
    </p>


    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>

</body>
</html>